<div class="main-container">
  <div class="header-container">
    <h1>ARETITOS</h1>
    <input matInput placeholder="   Search" id="search-product" type="search" name="search-product"
           [(ngModel)]="searchText" (ngModelChange)="onSearchChange(searchText)" />
  </div>
  <!-- Este es el contenedor donde se inyectará el contenido dinámico -->
  <div class="body-container">
    <ng-template #container></ng-template>
  </div>

  <button mat-fab color="warn" (click)="openCreateCartDialog()"
          class="floating-button" matTooltip="Revisar el carrito">
    <mat-icon>shopping_cart</mat-icon>
    <span class="item-count">{{ countItems }}</span>
  </button>

</div>
