<div class="main-container">
  <form (ngSubmit)="onLogin()" #loginForm="ngForm" class="form-container">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <br/>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput type="text" name="username" [(ngModel)]="username" required>
          <mat-error *ngIf="usernameFormControl.hasError('required')">Username is <strong>required</strong></mat-error>
          <button *ngIf="username" matSuffix mat-icon-button aria-label="Clear" (click)="username=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" name="password" [(ngModel)]="password" required>
          <mat-error *ngIf="passwordFormControl.hasError('required')">Password is <strong>required</strong></mat-error>
          <button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">SUBMIT</button>
      </mat-card-actions>
      <br/>
    </mat-card>
  </form>

</div>
