.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #d1c4e9;

  .form-container {
    width: fit-content;
    height: 50%;
    align-content: center;
    justify-content: center;
    align-items: center;

    .login-card {
      background-color: #e2e8f0;
      align-content: center;
      justify-content: center;
      align-items: center;
      width: fit-content;
    }
  }

  // Media query para pantallas pequeñas
  @media (max-width: 600px) {
    height: 70vh;
  }
}
